@font-face {
  font-family: 'PoretOne';
  /*a name to be used later*/
  src: url('./src/fonts/PoiretOne.ttf')
}

@font-face {
  font-family: 'PassionOne';
  /*a name to be used later*/
  src: url('./src/fonts/PassionOne.ttf')
}

body {
  background-color: white;
  transition: background-color 400ms linear;
}

body.dark {
  background-color: #131313;
}

p {
  font-family: PoretOne;
  margin: 0px;
  text-align: end;
}

.t1,
.t2 {
  font-size: 44px;
  color: white;
  font-family: PoretOne;
  letter-spacing: 8px;
  text-align: center;
  margin: 0px;
}

.t2 {
  font-size: 60px;
}


.bottomBox {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  transition: color 400ms linear;
}

.bottomBox.dark {
  color: white;
}


.divIn {
  vertical-align: middle;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -450px;
  margin-left: -500px;
  width: 800px;
  height: 700px;
  padding: 100px;
  padding: 100px;
  text-align: center;
  background-image: url('./src/drawables/boxBackgroundLight.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 400ms;
}

.box.dark {
  background-image: url('./src/drawables/boxBackgroundDark.png');

}


.numberInput,
.numberOutput {
  width: 500px;
  height: 60px;
  border-radius: 100px;
  border: none;
  padding: 8px;
  color: #bbb;
  font-size: 40px;
  text-align: center;
  font-family: 'PassionOne';
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  outline: none;
}

.numberInput:focus {
  border-color: #71ccd5;
  color: #71ccd5;
}

.btExpand {
  position: absolute;
  background-color: #6495ed;
  border-radius: 100px;
  height: 54px;
  width: 80px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: -92px;
  border-style: none;
  font-size: 32px;
  font-family: 'PassionOne';
  color: white;
  align-self: center;
}

.btExpand:hover {
  background-color: lightseagreen;
  cursor: pointer;
}

.leftTextButton {
  align-self: center;
  position: absolute;
  margin-top: 16px;
  margin-bottom: 12px;
  margin-left: 20px;
  height: 40px;
  opacity: .3;
}

.leftTextButton:hover {
  opacity: .7;
  cursor: pointer;
}

.leftTextButton:active {
  transform: scale(110%);
}

.divInput {
  vertical-align: middle;
}

.divBtIn,
.divLabelIn {
  width: 400px;
  margin: auto;
  justify-content: space-around;
  display: flex;
}

.divLabelIn {
  margin: -20px auto;
  margin-bottom: 5px;
}

.btIn,
.inputIn {
  border: lightseagreen;
  height: 50px;
  width: 70px;
  background-color: #0000;
  border-radius: 10px;
  font-family: 'PassionOne';
  color: white;
  border-color: white;
  border-width: 3px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 4px;
  border-style: solid;
  outline: none
}

.btIn:hover {
  background-color: #ffffff2c;
  cursor: pointer;
}

.btIn:active {
  background-color: lightseagreen;
}

.inputIn:hover {
  background-color: #ffffff2c;
  cursor: pointer;
}

.inputIn {
  height: 42.33px;
  width: 60.32px;
  border-style: dashed;
}

.labelIn {
  background-color: white;
  border-radius: 100px;
  height: 30px;
  width: 50px;
  font-size: 15px;
  border-style: none;
  padding: 6px 12px;
  font-family: 'PassionOne';
  color: #6495ed;
  align-self: center;
  padding-inline: 0px 0px;
}

.backgroundSelectorDiv {
  background-color: #6495ed;
  transform: translateZ(1px);
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 7px;
  width: 420px;
  margin: auto;
}

.arrowUp {
  margin-bottom: -5px;
}

.arrowDown {
  visibility: hidden;
  transform: rotate(180deg);
}

.inDiv {
  margin-top: -50px;
  margin-bottom: -50px;
  opacity: 0.0;
  transform: scaleY(30%);
  transition: all 300ms ease;
}

.inDiv.open {
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 1;
  transform: scaleY(100%);
}

.divTitle {
  height: 30%;
  position: relative;
}

.divTitleInside {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.divMain {
  height: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorText {
  transition: all 300ms;
  padding: 6px 30px;
  border-radius: 100px;
  width: fit-content;
  margin: auto;
  font-family: 'PassionOne';
  color: white;
  font-size: 20px;
  background-color: #e25b5b;
  opacity: 0;
  transform: scale(100%);
}

.errorText.show {
  opacity: 1;
  transform: scale(120%);
}

.topBox {
  position: absolute;
  padding: 12px 24px;
  right: 0;
  left: 0;
  text-align: end;
}

.btDarkMode {
  height: 32px;
  opacity: .6;
  transition: content 400ms;
}
.btDarkMode.dark{
   content: url('./src/drawables/normalmode.png');
}

.btDarkMode:hover {
  cursor: pointer;
  opacity: 1;
}

.btDarkMode:active {
  cursor: pointer;
  transform: scale(96%);
}